.counter-container {
    display: flex;
    width: 140px;
    height: 40px;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid $primary-black;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.54px;
    button {
        padding: 0 15px;
        border-radius: 12px;
        background-color: $primary-white;
        font-size: 33px;
        cursor: pointer;
    }
}