// colors

$primary-white: #FFFFFF;
$primary-black: #000000;
$primary-green: #339933;
$baner-blue: #A1E2EB;
$primary-light-green: #F1FFF1;
$primary-gray: #ACACAC;
$primary-pink: #FF32A1;

$green-gradient: linear-gradient(262.69deg, $primary-green -0.43%, #006300 104.36%);


// font-family

$base-font-family: "Montserrat", sans-serif;

// font-weight

$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// font-size

$base-font-size: 18px;
$font-size-h: 40px;
$font-size-p: 20px;

